---
import ExperienceItem from '@/components/ExperienceItem.astro'
import { buttonVariants } from '@/components/ui/button'
import { fullExperiences } from '@/constants'
import Layout from '@/layouts/Layout.astro'
import { cn } from '@/lib/utils'
import '@/styles/globals.css'
import { ArrowLeft } from 'lucide-react'
---

<Layout title="Simon Haïoun-Viet - Expériences">
  <main class="m-auto min-h-screen max-w-6xl px-5" transition:animate="fade">
    <a
      href="javascript:window.history.back();"
      class={cn(buttonVariants({ variant: 'outline' }), 'mb-5 gap-1')}
    >
      <ArrowLeft /> Retour
    </a>
    <ul role="list">
      {
        fullExperiences.map((experience, idx) => (
          <ExperienceItem
            company={experience.company}
            companyLogo={experience.companyLogo}
            duration={experience.duration}
            description={experience.description}
            isLast={idx === fullExperiences.length - 1}
            stack={experience.stack}
          />
        ))
      }
    </ul>
  </main>
</Layout>
