---
import NavBar from "@/components/blocks/NavBar.astro";
import { emailAddress } from "@/constants";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  description?: string;
  title: string;
}

const { description, title } = Astro.props;
const formattedDescription = `${description || "Simon Haïoun-Viet, senior frontend developer."}`;
---

<!doctype html>
<html class="dark mb-10 font-mono leading-7" lang="en">
  <head>
    <script
      is:inline
      data-astro-rerun
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="90a107de-7eb5-4506-a79d-038a9bc587ed"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={formattedDescription} />
    <slot name="head" />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <div
      aria-hidden="true"
      class="email-container after:my-O fixed bottom-0 left-2 right-auto z-50 hidden w-10 text-sm after:mx-auto after:block after:h-20 after:w-px after:bg-slate-400 after:content-[''] motion-safe:animate-appear xl:block"
    >
      <a
        class="email-link p-2.5 tracking-widest no-underline hover:animate-heartbeat hover:cursor-pointer hover:text-white"
        href={`mailto:${emailAddress}`}
        tabindex="-1"
      >
        {emailAddress}
      </a>
    </div>
    <NavBar />
    <slot />
    <style is:global>
      .email-link {
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
      }
      ::selection {
        background-color: #fad0c9;
        color: #4f4f4e;
      }
    </style>
  </body>
</html>
